* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    width: 100%;
    height: 100%;
}

body{
    background: rgb(231, 237, 250);
}


header {
    height: 10vh;
    width: 100%;
    background: rgb(248, 249, 250);
}

h1 {
    margin-left: 0.5rem;
    white-space: nowrap;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;

}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: rgb(47, 161, 206);
}

.nav-icons {
    list-style: none;
    display: flex;
    margin-right: 0.5rem;
    color: rgb(47, 161, 206);
}

li {
    letter-spacing: 0.1rem;
    margin-left: 1rem;
    transition: 0.5s;
}

li:hover{
    background-color: rgb(177, 216, 235);
}

.mobile-menu{
    display: none;
}



.show-links {
    height: 10rem;
}

@media( max-width: 700px) {
    .nav-list {
        position: absolute;
        top: 10vh;
        background: rgb(248, 249, 250);
        flex-direction: column;
        justify-content: space-around;
        max-height: 0;
        overflow: hidden;
        font-size: 1rem;
        transition: max-height 0.5s;
        width: 100%;
    }

    .nav-list-show {
        max-height: 10rem;
        font-size: 1rem;
    }

    li {
        transition: 0.5s;
    }


    li:hover{
        background-color: rgb(177, 216, 235);
    }
    
    .mobile-menu{
        text-align: end;
        display: block;
        margin-right: 0.5rem;
    }

    h1 {
        width: 50%;
    }

    .nav-icons {
        display: none;
    }
}

.border {
    border: 1px solid red;
}